<div class=" fullscreen {{loginStatus}}">
    <div class="login-form">
        <div class="icon-logo"></div>
        <div class="header">{{loginMessage}}</div>
        <form>
            <div>
                <input type="text" id="username" ng-model="LoginViewData.Username" placeholder="Username" class="inputText" />
            </div>
            <div>
                <input type="password" id="password" ng-model="LoginViewData.Password" placeholder="Password" class="inputText" />
            </div>
            <div class="buttons">
                <input type="submit" value="Login" ng-click="Login()" class="btn" />
            </div>
        </form>
        <div>
            <a href="#/register">Register</a>
        </div>
    </div>
</div>