<div ng-controller="menuBarController">
<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand icon-logo"></a>
    </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menuItems" ng-class="{active: item == curPage}" class="{{item}}">
                    <a href="#/{{cmsId}}/{{item}}">
                        <span>{{item | uppercase}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>